html{
  background-color: #F5F5F5;
}

.text-center{
  text-align: center;
}

.text-center .zero-Typography,
.text-center .jota-Typography{
  text-align: center !important;
}

.App {
  text-align: center;
}

.ProductCard .text-center{
  margin: 48px;
}

.ProductCard .zero-Cardbase,
.ProductCard .jota-Cardbase{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ProductCard .jota-Cardbase .jota-TagCategory,
.ProductCard .zero-Cardbase .zero-TagCategory{
  margin-bottom: 8px;
}

.ProductCard .jota-Cardbase .jota-Typography,
.ProductCard .zero-Cardbase .zero-Typography{
  margin-bottom: 24px;
}

.ProductCard .jota-Cardbase .jota-Typography.Paragraph,
.ProductCard .zero-Cardbase .zero-Typography.Paragraph{
  margin-bottom: 64px;
}

.ProductCard .jota-Cardbase .jota-Button,
.ProductCard .zero-Cardbase .zero-Button{
  margin-top: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
